version: "3.9"

services:
  db:
    image: postgres:16
    container_name: postgres
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    command: sh -c "sleep 10 && gunicorn config.wsgi:application --bind 0.0.0.0:8000 --workers 4 --threads 4"gunicorn project.wsgi:application --workers 3 --threads 4 --preload --timeout 60"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env

volumes:
  postgres_data:
